
html{
    font-family: monospace;
    font-weight: bold; 
    font-size: 1.5em;
    }
.myForm{
    width: 50%;         
    }       
.myForm input[type=text]{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-color: #FF00FF;
    }     
